#about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #213046;
  padding: 20px 0px 50px 0px;
}

#title-box {
  padding: 20px 0px;
  width: 75%;
  text-align: center;
}

.underline {
  border-bottom: 2px solid #f6f2eb;
}

#details {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#profile {
  width: 40%;
}
