* {
  font-family: "Roboto-condensed";
}

a {
  color: inherit;
}

hr {
  border-top: 1px solid #cccccc;
  width: 60%;
}

h3,
h4 {
  margin: 0;
}

.section {
  padding: 20px 0px 100px 0px;
}

#cover {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #213046;
  position: relative;
}

.cover-container {
  background-color: #f6f2eb;
  position: relative;
  width: 100%;
  height: 100vh;
}

#profile-picture {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid #ffffff;
}

.cover-text {
  font-size: 40pt;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
  padding: 0px 15px;
}

.sub-text {
  font-size: 20pt;
  font-weight: normal;
  border-bottom: none;
  padding-top: 10px;
}

.testimony {
  font-size: 20pt;
  padding: 5px 0px;
}

#wrapper {
  width: fit-content;
  overflow: hidden;
  text-align: center;
  margin: 50px 0px;
}

/* About me section */
#about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #213046;
}

.title-box {
  padding: 20px 0px;
  width: 60%;
  text-align: center;
}

.underline {
  border-bottom: 1px solid #cccccc;
  width: 60%;
}

#details {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#profile {
  width: 50%;
}

/* Experience section */

#experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f2eb;
  color: #213046;
}

.experience-subsection {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.location {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.location-name > h4 {
  margin: 0;
}

.location-name {
  width: 40%;
}

.location-details {
  width: 60%;
}

/* Projects */
#project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project {
  position: relative;
  width: 100%;
  height: 90%;
  border: 1px solid #cccccc;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px 0px;
}
/* 
.project:hover {
  opacity: 0.3;
} */

.project > h2 {
  margin-bottom: 0px;
}

#project-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  width: 50%;
}

/* Extra-Curricular */
#extra-curricular-section {
  background-color: #f6f2eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer {
  background-color: #434242;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.project-container {
  position: relative;
  /* opacity: 0.5; */
}

.project-details {
  padding-top: 20px;
}

.project div:nth-child(2) {
  padding-left: 10px;
}

#links {
  display: grid;
  grid-template-columns: auto auto;
  width: 30%;
  row-gap: 20px;
  text-align: left;
  /* border: 1px solid red; */
}

.external-link {
  padding-left: 10px;
}

button {
  margin-top: 20px;
}

/* .opaque-overlay {
  position: absolute;
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-top: 50px;
}

.opaque-overlay:hover {
  opacity: 0.7;
} */
