* {
  font-family: 'Roboto-condensed';
}
.section {
  padding: 20px 0px 100px 0px;
}

#cover {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #213046;
  position: relative;
}

.cover-container {
  background-color: #f6f2eb;
  position: relative;
  width: 100%;
  height: 100vh;
}

#profile-picture {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid #ffffff;
}

.cover-text {
  font-size: 40pt;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
  padding: 0px 15px;
}

.sub-text {
  font-size: 20pt;
  font-weight: normal;
  border-bottom: none;
  padding-top: 10px;
}

.box {
  height: 300px;
  width: 300px;
  background-color: red;
  margin-top: 500px;
}
.testimony {
  font-size: 20pt;
  padding: 5px 0px;
}

#wrapper {
  width: fit-content;
  overflow: hidden;
  text-align: center;
  margin: 50px 0px;
}

/* About me section */
#about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #213046;
}

.title-box {
  padding: 20px 0px;
  width: 60%;
  text-align: center;
}

.underline {
  border-bottom: 1px solid #cccccc;
}

#details {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

#profile {
  width: 50%;
}

/* Experience section */

#experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f2eb;
  color: #213046;
}

#education {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#education > h1 {
  width: 40%;
}

.school {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.school-name > h4 {
  margin: 0;
}

.school-name {
  width: 40%;
}

.school-details {
  width: 60%;
}
